<div class="container">
<form class="input-group">
  <span class="input-group-addon">Email</span>
  <input type="email" placeholder="youremail@email.com">
  <span class="input-group-addon">Password</span>
  <input type="password" placeholder="password">
  <button class="btn btn-outline-primary">Login</button>
</form>
</div>
