<% if (!userId) { %>

  <div class="d-flex justify-content-center form-inline login-form">
    <div class="input-group p-2">
      <span class="input-group-addon">Email</span>
      <input class="form-control" id="email" type="email" name="email" placeholder="youremail@email.com">
    </div>
    <div class="input-group p-2">
      <span class="input-group-addon">Password</span>
      <input class="form-control" id="password" type="password" name="password" placeholder="password">
    </div>
    <button class="btn btn-secondary p-2" id="login">Login</button>
  </div>

<% } %>

