<nav class="navbar nav-light bg-light">

  <!-- if user IS logged in, show HI USER, UPDATE PROFILE, LOGOUT -->
  <!-- else user is NOT logged in, show LOGIN and REGISTER -->

  <% if (userId) { %>
    <form class="form-inline">
      <span class="login-hello">Hello User!</span>
      <a class="nav-link update-profile" href="#">Profile</a>
      <a class="nav-link logout" href="#">Logout</a>
    </form>

  <% } else { %>
    <form class="form-inline">
      <a class="nav-link register-toggle ml-auto p-2" href="#">Register</a>
      <a class="nav-link login-toggle ml-auto p-2" href="#">Login</a>
    </form>
  <% } %>

          <!-- <button class="btn navbar-toggle ml-auto p-2" type="button">
          Nav
        </button> -->


</nav>


