
<div class="navbar container">
  <div class="button-group">
    <div class="btn-link">Login</div>

    <div class="btn-link">Register</div>
  </div>
</div>


<!-- if user is NOT logged in, show LOGIN and REGISTER -->


<!-- if user IS logged in, show HI USER, UPDATE PROFILE, LOGOUT -->
