
<!-- IF to-do item matches database category, show PROMPT, slide up? -->
    <% if (false) { %>
    <div class="container alert alert-light">Added!</div>
    <% } %>

<div class="d-flex justify-content-center">
  <span id="multiMatch" style="display: none" role="alert">
    Which did you mean:
    <button id="readButton" style="display: none" class="selectCategory btn btn-outline-secondary" value="read">To Read</button>
    <button id="watchButton" style="display: none" class="selectCategory btn btn-outline-secondary" value="watch">To Watch</button>
    <button id="buyButton" style="display: none" class="selectCategory btn btn-outline-secondary" value="buy">To Buy</button>
    <button id="eatButton" style="display: none" class="selectCategory btn btn-outline-secondary" value="eat">To Eat</button>
  </span>
</div>
