<!DOCTYPE html>
<html>
  <head>
    <title>Prompt Partial</title>
  </head>
  <body>
    <% if (user) { %>
    <textarea>
      <p>Did you mean: <% category %>? </p>

    </textarea>
  <% } %>
  </body>
</html>
