
<% if (!userId) { %>

  <div class="d-flex justify-content-center">
    <form action="api/register" method="POST" class="input-group">
      <span class="input-group-addon">Email</span>
      <input type="email" name="newEmail" placeholder="youremail@email.com">
      <span class="input-group-addon">Password</span>
      <input type="password" name="newPassword" placeholder="password">
      <button class="btn btn-outline-primary">Register</button>
    </form>
    </div>

<% } %>

