
<% if (!userId) { %>

  <div class="d-flex justify-content-center">
    <span class="input-group-addon">Email</span>
    <input type="email" id="newEmail" name="newEmail" placeholder="youremail@email.com">
    <span class="input-group-addon">Password</span>
    <input type="password" id="newPassword" name="newPassword" placeholder="password">
    <button class="btn btn-dark" id="register">Register</button>
  </div>

<% } %>

