@import '../node_modules/bootstrap/scss/bootstrap';

* {
  font-family: 'Quicksand', sans-serif;
}

body {

  height: 100vh;

  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .btn-outline-secondary {
    color: $white;
    border: none;
    margin-left: 10px;
  }

  .navbar {
    background: rgba(51, 73, 96, 0.83);
    color: $white;
    border-radius: 4px;
    header {
      h1 {
        margin-bottom: 0px;
        font-family: 'Reem Kufi', sans-serif;
      }
    }
    .login-hello {
      margin-right: 10px;
    }
  }

  .form-control:focus {
    // border-color: $gray-900;
    border: 1.4px dashed rgba(51, 73, 96, 0.83);
  }
}
