@import '../node_modules/bootstrap/scss/bootstrap';

* {
  font-family: 'Quicksand', sans-serif;
}

body {

  height: 100vh;

  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .add-item {
    height: 100px;

    .input-group {
      height: 60px;
    }
  }

  .btn-outline-secondary {
    color: $white;
    border: none;
    margin-left: 10px;
  }

  .navbar {
    background: rgba(51, 73, 96, 0.83);
    color: $white;
    border-radius: 4px;
    header {
      h1 {
        margin-bottom: 0px;
        font-family: 'Reem Kufi', sans-serif;
      }
    }
    .login-hello {
      margin-right: 10px;
    }
  }

  .form-control:focus {
    border: 1.3px solid rgba(0, 0, 0, 0.3);
  }

  .add-btn {
    background-color: rgba(51, 73, 96, 0.83);
    border-color: rgba(51, 73, 96, 0.83);
    color: $white;
  }
}
